/* css task list */
.task-list {
    background-color: #F4F4F2;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    float: right;
    display: grid;
    place-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.task-content {
    width: 100%;
    height: 100%;
}
.task-container {
    margin: 10px;
}
.judul-task {
    width: 50%;
    margin: 30px;
}
.task-table {
    height: 100%;
    width: 100%;
    text-align: center;
}
td {
    padding: 10px;
}
h1 {
    margin: 20px;
}
.head {
    border-top: 2px solid black; /* Border bagian atas */
    border-bottom: 2px solid black; /* Border bagian bawah */
}
.foto {
    border-radius: 100%;
    margin-right: 10px;
}
a {
    text-decoration: none;
}
/* css tombol status */
.btn-on-1 {
    background-color: #FF2323;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}
.btn-off-1 {
    background-color: transparent;
    border: 2px solid #FF2323;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}
.btn-on-2 {
    background-color: #1091EF;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}
.btn-off-2 {
    background-color: transparent;
    border: 2px solid #007DFA;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}
.btn-on-3 {
    background-color: #55FA3A;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
.btn-off-3 {
    background-color: transparent;
    border: 2px solid #55FA3A;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}
a {
    text-decoration: none;
}
.button-container {
    display: flex;
    justify-content: space-around; /* Menyusun tombol-tombol secara merata */
    align-items: center; /* Memusatkan tombol-tombol secara vertikal */
    margin-top: 10px; /* Berikan margin atas */
}
/* css leaderboard */
.leaderboard {
    background-color: #F4F4F2;
    width: 49.5%;
    height: 30vh;
    border-radius: 10px;
    float: right;
    display: grid;
    place-items: center;
    margin-top: 10px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.lead-content {
    width: 100%;
    height: 100%;
}
.l {
    margin-left: 20px;
    margin-top: 8px;
}
.no {
    width: 80px;
}
.star {
    margin-left: 10px;
}
.more {
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    text-align: center;
}

/* css jadwal */
.jadwal {
    background-color: #F4F4F2;
    width: 49.5%;
    height: 30vh;
    border-radius: 10px;
    float: right;
    display: grid;
    place-items: center;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.jadwal-content {
    width: 100%;
    height: 100%;
    align-items: center;
}
.container-jadwal {
    margin: 10px;
    display: flex;
    height: 90%;
    flex-direction: column;
}

/* css tambah tugas */
.tambah {
    background-color: #F4F4F2;
    width: 49.5%;
    height: 30vh;
    border-radius: 10px;
    float: right;
    display: grid;
    place-items: center;
    margin-top: 10px;
    overflow-y: hidden;
}
.tambah-content {
    width: 100%;
    height: 100%;
    align-items: center;
}
.container-tambah {
    padding: 10px;
    display: flex;
    flex-direction: column; /* Menengahkan secara horizontal */
    align-items: center; /* Menengahkan secara vertikal */
}
.t {
    margin: 0px;
    margin-bottom: 30px;
}
.fa-clock {
    margin-right: 10px;
}
a[href="tambah"] {
    margin: 20px;
}
.hari {
    text-align: center;
    width: 100%;
}
.foto {
    border-radius: 100%;
    margin-right: 10px;
}
