/* css task list */
.task-list {
    background-color: #f4f4f2;
    width: 100%;
    height: 82vh;
    border-radius: 10px;
    float: right;
    display: grid;
    place-items: center;
    overflow-y: auto; /* Tambahkan properti overflow-y untuk auto-scroll */
}
.judul-task {
    width: 100%;
    margin: 30px;
}
.task-content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
.task-container {
    margin: 10px;
}
.task-table {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-x: scroll;
}
td {
    padding: 10px;
}
h1 {
    margin: 20px;
}
.head {
    border-top: 2px solid black; /* Border bagian atas */
    border-bottom: 2px solid black; /* Border bagian bawah */
}
.foto {
    border-radius: 100%;
    margin-right: 10px;
}
a {
    text-decoration: none;
}
.btn-on-1 {
    background-color: #ff2323;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.btn-off-1 {
    background-color: transparent;
    border: 2px solid #ff2323;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.btn-on-2 {
    background-color: #1091ef;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.btn-off-2 {
    background-color: transparent;
    border: 2px solid #007dfa;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.btn-on-3 {
    background-color: #55fa3a;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.btn-off-3 {
    background-color: transparent;
    border: 2px solid #55fa3a;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
.fa-clock {
    margin: 0;
    margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .task-list {
        overflow-x: scroll !important;
    }
    table {
        overflow-x: scroll;
    }
    .date {
        display: none;
    }
    .side {
        display: none; /* Sembunyikan sidebar di awal untuk layar kecil */
    }
    .btn-toggle-sidebar {
        display: block; /* Tampilkan tombol toggle sidebar */
        z-index: 999;
    }
    .dashboard {
        width: 100%; /* Sidebar tidak memakan ruang di layar kecil */
    }
    .side.active {
        display: block;
        z-index: 999;
        width: 30%;
        margin-right: 10px;
    }
}

/* Gunakan media queries untuk mengatur perilaku di layar berbeda */
@media (max-width: 767px) {
    /* Ubah ukuran sesuai kebutuhan */
    .task-list {
        overflow-x: scroll !important;
    }
    .date {
        display: none;
    }
    .side {
        display: none; /* Sembunyikan sidebar di awal untuk layar kecil */
    }
    .btn-toggle-sidebar {
        display: block; /* Tampilkan tombol toggle sidebar */
        z-index: 999;
    }
    .dashboard {
        width: 100%; /* Sidebar tidak memakan ruang di layar kecil */
    }
    .side.active {
        display: block;
        position: absolute;
        z-index: 999;
        width: 100%;
        margin-right: 10px;
    }
}
